@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Genos:wght@200&display=swap');
body
{
  margin: 0;
  padding: 0;
  background-color: #e6e6e6;
  font-family: 'Fjalla One', sans-serif;
}

form
{
  background-color: #f2f2f2;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: solid 1px #1DB700;
  border-radius: 10px;
  align-items: center;
}

form input
{
  width: 250;
  padding: 10;
  text-align: center;
  margin-bottom: 20px;
  border: solid 1px #FFF01F;
  outline: none;
  border-radius: 25px;
  transition: all ease 1s;
  box-shadow: 0 0 5px 2px #ccff00;
  font-size: 15px;
  font-family: 'Fjalla One', sans-serif;
}

form input:focus
{
  border: solid 1px #1DB700;
  width: 275px;
  box-shadow: 0 0 5px 2px #39FF14;
}


form input[type = "submit"]
{
  cursor: pointer;
  width: 100px;
  border: none ;
  border-radius: 5px;
  background-color: #24E500;
  color: black;
  font-size: bolder;
  box-shadow: 0 0 10px 2px #39FF14;
  margin-top: 30px;
}

form input[type = "submit"]:hover
{
  box-shadow: 0 0 15px 10px #39FF14
}

h1
{
  color: #24E500;
  text-shadow: 0 0 10px #39FF14;
}
